@mixin svk-btn {
  display: block !important;
  float: left !important;
  position: relative;
  width: 34px;
  height: 34px;
  margin-right: 5px;
  border-radius: 2px;
  background: #e6edf5;
  border: 0;
  font-size: 22px;
  overflow: hidden;
  color: #6f98c7;
  -webkit-font-smoothing: subpixel-antialiased;

  .claimed & {
    visibility: hidden;
  }
}

@mixin svk-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-style: normal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  transition: color 80ms linear, background 80ms linear, transform .3s;
}

.svk-btn {
  @include svk-btn;

  transition: all 80ms linear;
  cursor: pointer;

  &:active {
    transform: scale(.9);
  }

  &--icon_warning {
    &:active {
      transform: none;
    }
  }

  &__arrow {
    @include svk-btn-icon;

    &:hover {
      color: white;
      background: #73777b;
    }

    .svk-btn--icon_warning & {
      transform: translateX(100%);
    }
  }

  &__warn {
    @include svk-btn-icon;
    background: #f5c018;
    color: white;
    transform: translateX(-100%);

    .svk-btn--icon_warning & {
      display: flex;
      transform: translateX(0);
    }
  }
}

.audio_row .audio_row_counter {
  @include svk-btn;

  cursor: progress;

  &::after {
    @include svk-btn-icon;
    content: '↓';
  }
}

.audio_inline_player {
  left: 39px + 34px + 5px !important;
}