// Variables
// ----------------------------------------------------

$rowBtn-bg: #e6edf5;
$rowBtn-color: #6f98c7;

$rowBtn-bg--hover: #73777b;
$rowBtn-color--hover: white;

$rowBtn-fontSize: 22px;
$rowBtn-fontSize--pressed: 19px;

$rowBtnCover-fontSize: 25px;
$rowBtnCover-fontSize--pressed: 21px;

$rowBtnWarn-bg: #f5c018;
$rowBtnWarn-color: white;

// Mixins
// ----------------------------------------------------

@mixin svk-btn {
  display: block !important;
  float: left;
  position: relative;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;

  .claimed & {
    visibility: hidden;
  }

  &.--error {
    &::before {
      transform: translateX(0);
    }
    &::after {
      transform: translateX(100%);
    }
  }
}

@mixin svk-btn--row {
  width: 34px;
  height: 34px;
  margin-right: 5px;
  border-radius: 2px;
}

@mixin svk-pseudo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 80ms linear, transform .3s;
}

// ----------------------------------------------------

.svk-btn {
  @include svk-btn;
  @include svk-btn--row;

  // Define icons
  // ----------------------------------------------------

  // Error icon
  &::before {
    @include svk-pseudo-icon;
    content: ':(';
    color: $rowBtnWarn-color;
    background: $rowBtnWarn-bg;
    font-size: $rowBtn-fontSize;
    transform: translateX(-100%);
  }

  // Download icon
  &::after {
    @include svk-pseudo-icon;
    content: '↓';
    color: $rowBtn-color;
    background: $rowBtn-bg;
    font-size: $rowBtn-fontSize;
  }

  // Hover & active state
  // ----------------------------------------------------

  &:hover {
    &::after {
      color: $rowBtn-color--hover;
      background: $rowBtn-bg--hover;
    }
  }

  &:active {
    &::after {
      font-size: $rowBtn-fontSize--pressed;
    }
  }
}

.audio_page_player__cover {
  @include svk-btn;

  .audio_layer_container &,
  .audio_layer_container &::after {
    border-radius: 0 !important;
  }

  // Define icons
  // ----------------------------------------------------

  // Error icon
  &::before {
    @include svk-pseudo-icon;
    content: ':(';
    color: $rowBtnWarn-color;
    background: $rowBtnWarn-bg;
    font-size: $rowBtnCover-fontSize;
    transform: translateX(-100%);
  }

  // Download icon
  &::after {
    @include svk-pseudo-icon;
    content: '↓';
    color: white;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    font-size: $rowBtnCover-fontSize;
    border-radius: 2px 0 0 2px;
  }

  // Hover & active state
  // ----------------------------------------------------

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      font-size: $rowBtnCover-fontSize--pressed;
    }
  }
}

// Overrides
// ----------------------------------------------------

// Fix progress line left
.audio_inline_player {
  left: 39px + 34px + 5px !important;
}

// Imitate loaded svk btn
.audio_row .audio_row_counter {
  @include svk-btn;
  @include svk-btn--row;

  cursor: progress;

  &::after {
    @include svk-pseudo-icon;
    content: '↓';
    background: $rowBtn-bg;
    font-size: $rowBtn-fontSize;
    color: $rowBtn-color;
  }
}