// Functions
// ----------------------------------------------------

@function bg-icon($color, $size){
  $start: '<svg xmlns="http://www.w3.org/2000/svg" width="#{$size}" height="#{$size}" viewBox="-6.5 -7 30 30">';
  $end: '<path fill="#{'rgb(#{red($color)}, #{green($color)}, #{blue($color)})'}" d="M12.5 8.6L9 12.2V0H7v12.2L3.5 8.6l-1.4 1.5L8 16l5.9-5.9z"/></svg>';
  @return url('data:image/svg+xml;utf8,'+ $start + $end);
}

// Variables
// ----------------------------------------------------

$rowBtn-bg: #e6edf5;
$rowBtn-color: #6f98c7;

$rowBtn-bg--hover: #73777b;
$rowBtn-color--hover: white;

$rowBtn-fontSize: 22px;
$rowBtn-fontSize--pressed: 19px;

$rowBtnCover-fontSize: 25px;
$rowBtnCover-fontSize--pressed: 21px;

$rowBtnWarn-bg: #f5c018;
$rowBtnWarn-color: white;

$rowBtn-img: bg-icon($rowBtn-color, 34px);
$rowBtn-img--hover: bg-icon($rowBtn-color--hover, 34px);

$rowBtn-img-plist: bg-icon($rowBtn-color, 25px);
$rowBtn-img-plist--hover: bg-icon($rowBtn-color--hover, 25px);

//$rowBtn-img--active: bg-icon($rowBtn-color--hover, 32px);

$rowBtnCover-img: bg-icon(white, 54px);

// Mixins
// ----------------------------------------------------

@mixin svk-btn {
  display: block !important;
  float: left;
  position: relative;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: all 80ms linear, transform .3s;

  .audio_deleted &,
  .claimed & {
    &:hover {
      background-color: $rowBtn-bg;
    }
    &::after {
      display: none;
    }
  }

  &.--error {
    &::before {
      transform: translateX(0);
    }
    &::after {
      transform: translateX(100%);
    }
  }
}

@mixin svk-btn--row {
  position: absolute;
  top: 7px;
  left: 47px;
  width: 34px;
  height: 40px;
  border-radius: 2px;

  .im-mess &,
  .audio_pl_edit_box &,
  .audio_pl_snippet__list &,
  .post_content & {
    width: 25px;
    height: 25px;
    top: 8px;
    border-radius: 50%;
    left: 37px;
  }
}

@mixin svk-pseudo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 80ms linear, transform .3s;
}

@mixin svk-label {
  display: inline-block;
  font-size: 10px;
  font-family: Arial, sans-serif;
  line-height: 11px;
  height: 11px;
  vertical-align: top;
  text-align: center;
  top: 14px;
  color: #939393;

  .audio_row__duration[style="visibility: hidden;"] ~ & {
    display: none;
  }

  .audio_w_covers & {
    top: 27px;
  }

  .audio_row:not(.audio_row_current):not(.no_actions):hover & {
    display: none;
  }
}

// ----------------------------------------------------

.svk-btn {
  @include svk-btn;
  @include svk-btn--row;
  background-color: $rowBtn-bg;

  // Define icons
  // ----------------------------------------------------

  // Error icon
  &::before {
    @include svk-pseudo-icon;
    content: ':(';
    color: $rowBtnWarn-color;
    background: $rowBtnWarn-bg;
    font-size: $rowBtn-fontSize;
    transform: translateX(-100%);
  }

  // Download icon
  &::after {
    @include svk-pseudo-icon;
    content: '';
    background: $rowBtn-img 50% 50% no-repeat;
    background-size: 100%;

    .im-mess &,
    .audio_pl_edit_box &,
    .audio_pl_snippet__list &,
    .post_content & {
      background: $rowBtn-img-plist 50% 50% no-repeat;
    }
  }

  // Hover & active state
  // ----------------------------------------------------

  &:hover {
    background-color: $rowBtn-bg--hover;
    &::after {
      background: $rowBtn-img--hover 50% 50% no-repeat;

      .im-mess &,
      .audio_pl_edit_box &,
      .audio_pl_snippet__list &,
      .post_content & {
        background: $rowBtn-img-plist--hover 50% 50% no-repeat;
      }
    }
  }

  &:active {
    &::after {
      transition: none;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
}

.audio_page_player__cover {
  @include svk-btn;

  .audio_page_player_fixed &,
  .audio_page_player_fixed &::after,
  .audio_layer_container &,
  .audio_layer_container &::after {
    border-radius: 0 !important;
  }

  // Define icons
  // ----------------------------------------------------

  // Error icon
  &::before {
    @include svk-pseudo-icon;
    content: ':(';
    color: $rowBtnWarn-color;
    background: $rowBtnWarn-bg;
    font-size: $rowBtnCover-fontSize;
    transform: translateX(-100%);
  }

  // Download icon
  &::after {
    @include svk-pseudo-icon;
    content: '';
    opacity: 0;
    border-radius: 2px 0 0 2px;
    background: rgba(0, 0, 0, 0.4) $rowBtnCover-img 50% 50% no-repeat;
    background-size: 80%;
  }

  // Hover & active state
  // ----------------------------------------------------

  &:hover {
    &::after {
      opacity: 1;
    }
  }

  &:active {
    &::after {
      transition: none;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    }
  }
}

.svk-bitrate {
  @include svk-label;

  background-color: gray;
  border-radius: 2px;
  width: 22px;
  position: absolute;
  right: 40px;
  color: white;

  &--320 {
    background-color: #3574a7;
  }
  &--256 {
    background-color: #438cc7;
  }
  &--192 {
    background-color: #3db5af;
  }
  &--160 {
    background-color: #4fd2ba;
  }
  &--dnishe {
    background-color: #9dc3c1;
  }
}

.svk-size {
  @include svk-label;

  width: 50px;
  position: absolute;
  background: none;
  margin: 0;
  right: -12px;
}

// Overrides
// ----------------------------------------------------

.audio_row .audio_row__info {
  position: relative  !important;
}
.audio_row .audio_row__duration {
  min-width: 30px;
}

.audio_row .audio_row__duration {
  top: 0 !important;
}

.audio_w_covers .audio_row .audio_row__duration {
  top: 8px !important;
}

.audio_w_covers .audio_row .audio_row__inner {
  padding-left: 54px + 34px !important;
}

.audio_row .audio_row__inner {
  padding-left: 44px + 25px !important;
}

.audio_inline_player .audio_inline_player_left {
  padding: 0 4px 0 36px !important;
}

// Fix progress line left
.audio_inline_player {
  left: 39px + 34px + 5px !important;
}

// Imitate loaded svk btn
.audio_row__cover {
  $coverWidth: 40px;
  $coverMargin: 3px;

  margin-right: $coverWidth + $coverMargin * 2 !important;
  overflow: inherit !important;

  &::after {
    @include svk-pseudo-icon;
    content: '';
    cursor: progress;
    position: absolute;
    left: $coverWidth + $coverMargin;
    background: $rowBtn-bg $rowBtn-img 50% 50% no-repeat;
    background-size: 100%;
    width: 34px;
    border-radius: 2px;
  }

  .svk-btn-added & {
    margin-right: $coverMargin !important;
    overflow: hidden !important;
  }
}

// Imitate loaded svk btn for playlist
.audio_row__play_btn {
  $coverWidth: 25px;
  $coverMargin: 2px;

  margin-right: $coverWidth + $coverMargin * 2 !important;
  overflow: inherit !important;

  &::after {
    @include svk-pseudo-icon;
    content: '';
    cursor: progress;
    position: absolute;
    left: $coverWidth + $coverMargin;
    background: $rowBtn-bg $rowBtn-img-plist 50% 50% no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .svk-btn-added & {
    margin-right: $coverMargin !important;
    overflow: hidden !important;
  }
}